<%= form_for slide, html: { multipart: true } do |form| %>
  <% if slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% slide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :slide_name %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, id: :slide_comment %>
  </div>

  <div class="field">
    <%= form.label :welcome %>
    <%= form.check_box :welcome, id: :event_welcome %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.date_select :start, id: :slide_start %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.date_select :end, id: :slide_end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
