<p id="notice"><%= notice %></p>

<%= image_tag @slide.picture.url(:medium) %>

<p>
  <strong>Name:</strong>
  <%= @slide.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @slide.comment %>
</p>

<p>
  <strong>Welcome:</strong>
  <%= @slide.welcome %>
</p>

<p>
  <strong>Start:</strong>
  <%= @slide.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @slide.end %>
</p>

<%= link_to image_tag("/assets/ico/pencil.svg", height: '24', width: '24') + " Edit", edit_slide_path(@slide), class: "btn btn-small btn-primary" %>
<%= link_to image_tag("/assets/ico/back.png", height: '24', width: '24') + " Back", slides_path, class: "btn btn-small btn-warning" %>
