<div class="event">
<div class='title'>Les évènements à venir</div>
<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
  	<% @events_date.sort.uniq.each do |date| %>
      <tr>
        <td class='b1'>
          <%= @week[date.wday] %><br>
        </td>
        <td class='b2'><br>
        </td>
        <td class='b3'>
          <%= date.day %> <%= @month[date.month - 1] %> <%= date.year %><br>
        </td>
      </tr>

      <% @events.each do |e| %>
        <% if (e.day.strftime("%Y%m%d") == date.strftime("%Y%m%d")) and (e.allday == true) %>
          <tr>
            <td class='c1'>
              Toute la journée
            </td>
            <td class='c2'>
          	  <%= e.name %><br>
            </td>
            <td class='c3'>
              <%= e.comment %><br>
            </td>
          </tr>
        <% end %>
      <% end %>  
      <% @events.each do |e| %>
        <% if (e.day.strftime("%Y%m%d") == date.strftime("%Y%m%d")) and (e.allday != true) %>
          <tr>
            <td class='c1'>
              <%= e.start.strftime "%H:%M" %> - <%= e.end.strftime "%H:%M" %><br>
            </td>
            <td class='c2'>
              <%= e.name %><br>
            </td>
            <td class='c3'>
              <%= e.comment %><br>
            </td>
          </tr>
        <% end %>
      <% end %>

    <% end %>
  <tbody>
</table>

</div>