<div class="learn">
  <div class="learn_background">
  </div>

  <div class="quote">
    <%= @learn.quote %>
  </div>


  <% if @author.picture_file_name.present? %>
    <div class="portrait">
      <img src="<%= @author.picture.url(:medium) %>" style="height:80%; width:80%;">
    </div>
  <% end %>


  <% @authors.each do |a| %>
    <% if (a.name == @author.name) %>
      <%= a.picture.url(:medium) %>
    <% end %>
  <% end %>


  <div class="source_box">
    <div class="source_txt">
      <%= @author.name.titleize %>
      <% if @author.birth.present? %>
        (<%= @author.birth %> - <%= @author.death %>)
      <% end %>
    </div>
  </div>
</div>
