<div class="learn">
  <div class="learn_background">
  </div>

  <div class="quote">
    <%= @learn.quote %>
  </div>

  <div class="portrait">
    <img src="<%= @author.picture.url(:medium) %>">
  </div>


  <% @authors.each do |a| %>
    <% if (a.name == @author.name) %>
      <%= a.picture.url(:medium) %>
    <% end %>
  <% end %>


  <div class="source_box">
    <div class="source_txt">
      <%= @author.name %> - <%= @author.picture.url(:medium) %>
    </div>
  </div>
</div>
