<div class="learn">
  <div class="learn_background">
  </div>

  <div class="quote">
    <%= @learn.quote %>
  </div>


  <% if @learn_author.picture_file_name.present? %>
    <div class="portrait">
      <img src="<%= @learn_author.picture.url(:medium) %>" style="height:80%; width:80%;">
    </div>
  <% end %>


  <div class="source_box">
    <div class="source_titre">
      <%= @learn_author.name.titleize %>
      <% if @learn_author.birth.present? %>
        (<%= @learn_author.birth %> - <%= @learn_author.death %>)
      <% end %>
    </div>
  </div>
</div>
