<div class="saint">



  <div class="wall">
  <% @wall = []
  @slides.each do |wallpaper|
    if (wallpaper.saint)
      @wall << wallpaper.id
    end
  end %>

  <% if @wall.any? %>
    <% wall = rand(@wall.size).to_i - 1 %>
    <img src="<%= @slides[wall].picture.url(:full, timestamp: false) %>" style="height: 100vh; width:100vw;">
  <% end %>
  </div>



  <div class="text">
    <br>
    Aujourd'hui,<br>
    <%= @week[Time.now.strftime("%w").to_i] %> <%= Time.now.strftime("%d") %> <%= @month[Time.now.strftime("%m").to_i - 1] %>,<br>
    nous fêtons :<br>
    <% @list_saint.each do |saint| %>
      <% if saint == @list_saint.first %>
        les <div class="txt_saint"><%= saint %></div>
      <% elsif saint == @list_saint.last %>
        et les <div class="txt_saint"><%= saint %></div>
      <% else %>
        , les <div class="txt_saint"><%= saint %></div>
      <%end%>
    <% end %>

  </div>

</div>
