<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Class room:</strong>
  <%= @student.class_room %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @student.birth %>
</p>

<%= link_to image_tag("/assets/ico/pencil.svg", height: '24', width: '24') + " Edit", edit_student_path(@student), class: "btn btn-small btn-primary" %>
<%= link_to image_tag("/assets/ico/back.png", height: '24', width: '24') + " Back", students_path, class: "btn btn-small btn-warning" %>
