<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @learn.quote %>
</p>

<p>
  <strong>Author:</strong>
  <%= Author.find(@learn.author_id).name %>
</p>

<%= link_to 'Edit', edit_learn_path(@learn) %> |
<%= link_to 'Back', learns_path %>
