<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @event.comment %>
</p>

<p>
  <strong>Day:</strong>
  <%= @event.day %>
</p>

<p>
  <strong>Allday:</strong>
  <%= @event.allday %>
</p>

<p>
  <strong>Start:</strong>
  <% if @event.allday == false %>
    <%= @event.start %>
  <% else %>
    -
  <% end %>
</p>

<p>
  <strong>End:</strong>
  <% if @event.allday == false %>
    <%= @event.end %>
  <% else %>
    -
  <% end %>
</p>

<%= link_to image_tag("/assets/ico/pencil.svg", height: '24', width: '24') + " Edit", edit_event_path(@event), class: "btn btn-small btn-primary" %>
<%= link_to image_tag("/assets/ico/back.png", height: '24', width: '24') + " Back", events_path, class: "btn btn-small btn-warning" %>
