<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @biblical.quote %>
</p>

<p>
  <strong>Source:</strong>
  <%= @biblical.source %>
</p>

<%= link_to 'Edit', edit_biblical_path(@biblical) %> |
<%= link_to 'Back', biblicals_path %>
