<header>
  <nav>
  	<div class='btn-group'>
  	  <%= link_to 'Home', root_path, class: 'btn btn-default btn-info' %>
      <% if user_signed_in? %>
        <%= link_to 'Students', students_path, class: 'btn btn-default btn-info' %>
        <%= link_to 'Slides', slides_path, class: 'btn btn-default btn-info' %>
        <%= link_to 'Events', events_path, class: 'btn btn-default btn-info' %>
      <% end %>
    </div>

    <%= link_to 'SlideShow', slideshows_path, class: 'btn btn-default' %>
    <% if user_signed_in? %>
      <%= link_to 'Params', settings_path, class: 'btn btn-default btn-warning' %>
    <% end %>

    <div class='btn-right'>
      <% if user_signed_in? %>
        <div class='btn-group'>
          <%= link_to current_user.username.capitalize, edit_user_registration_path, class: 'btn btn-info' %>
          <%= link_to 'Deconnexion', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
        </div>
      <% else %>
        <%= link_to 'Connexion', new_user_session_path, class: 'btn btn-success' %>
      <% end %>
    </div>

  </nav>
</header>
