<header>
  <nav>
  	<div class='btn-group'>
      <%= link_to image_tag("/assets/ico/home.png", height: '24', width: '24') + " Home", root_path, class: "btn btn-small btn-info" %>
      <% if user_signed_in? %>
        <%= link_to image_tag("/assets/ico/kids.png", height: '24', width: '24') + " Students", students_path, class: "btn btn-small btn-info" %>
        <%= link_to image_tag("/assets/ico/angel.png", height: '24', width: '24') + " Saints", saints_path, class: "btn btn-small btn-info" %>
        <%= link_to image_tag("/assets/ico/photo.png", height: '24', width: '24') + " Slides", slides_path, class: "btn btn-small btn-info" %>
        <%= link_to image_tag("/assets/ico/calendar.png", height: '24', width: '24') + " Events", events_path, class: "btn btn-small btn-info" %>
        <%= link_to image_tag("/assets/ico/bible.png", height: '24', width: '24') + " Biblicals", biblicals_path, class: "btn btn-small btn-info" %>
        <%= link_to image_tag("/assets/ico/plume.png", height: '24', width: '24') + " Learns", learns_path, class: "btn btn-small btn-info" %>
      <% end %>
    </div>

    <%= link_to image_tag("/assets/ico/play.png", height: '24', width: '24') + " SlideShow", slideshows_path, class: "btn btn-small btn-default" %>
    <% if user_signed_in? %>
      <%= link_to image_tag("/assets/ico/settings.png", height: '24', width: '24') + " Params", settings_path, class: "btn btn-small btn-warning" %>
    <% end %>

    <div class='btn-right'>
      <% if user_signed_in? %>
        <div class='btn-group'>
          <%= link_to image_tag("/assets/ico/user.png", height: '24', width: '24') + " " + current_user.username.capitalize, edit_user_registration_path, class: "btn btn-small btn-info" %>
          <%= link_to image_tag("/assets/ico/power.png", height: '24', width: '24') + " Deconnexion", destroy_user_session_path, :method => :delete, class: "btn btn-small btn-danger" %>
        </div>
      <% else %>
        <%= link_to image_tag("/assets/ico/power.png", height: '24', width: '24') + " Connexion", new_user_session_path, class: "btn btn-small btn-success" %>
      <% end %>
    </div>

  </nav>
</header>
