<!DOCTYPE html>
<html>
  <head>
    <title><%= render_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <% if request.path.match('/slideshows').blank? %>
        <%= render partial: 'layouts/navigation' %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
